In [1]:
# importing the datset
import pandas as pd
import numpy as np

df=pd.read_csv("Merged_file.csv")
# Prepare inputs
df=df.head( )
queries = df['QueryText'].tolist()
bodies = df['BODY'].tolist()
labels = df['Relevance'].tolist()

In [15]:
from sklearn.metrics import accuracy_score, f1_score
from transformers import pipeline
from sentence_transformers import SentenceTransformer, CrossEncoder, util
import torch

# --------- 1. Cross-Encoder ---------
cross_encoder = CrossEncoder('cross-encoder/ms-marco-MiniLM-L-6-v2')
cross_scores = cross_encoder.predict(list(zip(queries, bodies)))
cross_preds = [1 if score > 0.5 else 0 for score in cross_scores]
cross_acc = accuracy_score(labels, cross_preds)
cross_f1 = f1_score(labels, cross_preds)

# Group the necessary data by 'QueryID'
df["CrossScores"] = cross_scores
grouped = df.groupby("QueryID").agg({
    "DocumentID": list,
    "CrossScores": list,
    "Relevance": list
}).reset_index()

# Construct the data dictionary
data = {
    "query_id": grouped["QueryID"].tolist(),
    "doc_id": grouped["DocumentID"].tolist(),
    "score": grouped["CrossScores"].tolist(),
    "relevance": grouped["Relevance"].tolist()
}

# Optional: Convert to DataFrame if needed
grouped_df = pd.DataFrame(data)

# Display the resulting grouped DataFrame
from IPython.display import display
display(grouped_df)


# Obtaining MAP scores and others
import numpy as np
import pandas as pd
from sklearn.metrics import average_precision_score
from IPython.display import display

# Assuming grouped_df is already defined with columns: query_id, doc_id, score, relevance

map_scores = []
ndcg_scores = []
p_at_5 = []
p_at_10 = []

def dcg_at_k(relevances, k):
    relevances = np.asarray(relevances, dtype=float)[:k]
    if relevances.size:
        return np.sum(relevances / np.log2(np.arange(2, relevances.size + 2)))
    return 0.0

def ndcg_at_k(y_true, y_score, k):
    order = np.argsort(y_score)[::-1]
    y_true_sorted = np.take(y_true, order)
    dcg_max = dcg_at_k(sorted(y_true, reverse=True), k)
    if not dcg_max:
        return 0.0
    return dcg_at_k(y_true_sorted, k) / dcg_max

for i, row in grouped_df.iterrows():
    y_true = row['relevance']
    y_scores = row['score']

    # MAP
    ap = average_precision_score(y_true, y_scores)
    map_scores.append(ap)

    # nDCG@10
    ndcg = ndcg_at_k(y_true, y_scores, k=10)
    ndcg_scores.append(ndcg)

    # Precision@5
    order = np.argsort(y_scores)[::-1]
    top5_relevance = np.take(y_true, order)[:5]
    p5 = np.sum(top5_relevance) / 5.0
    p_at_5.append(p5)

    # Precision@10
    top10_relevance = np.take(y_true, order)[:10]
    p10 = np.sum(top10_relevance) / 10.0
    p_at_10.append(p10)

# Aggregate results per query
results = pd.DataFrame({
    "Query ID": grouped_df['query_id'],
    "MAP": map_scores,
    "nDCG@10": ndcg_scores,
    "P@5": p_at_5,
    "P@10": p_at_10
})

display(results)

# Print average (mean) of each metric across all queries
print("Mean MAP      :", round(np.mean(map_scores), 4))
print("Mean nDCG@10  :", round(np.mean(ndcg_scores), 4))
print("Mean P@5      :", round(np.mean(p_at_5), 4))
print("Mean P@10     :", round(np.mean(p_at_10), 4))

,query_id,doc_id,score,relevance
0,1,"[4, 11, 339, 1378, 1861, 2034, 2371, 2379, 262...","[-10.408384323120117, -3.725282669067383, -8.1...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1,2,"[54, 538, 606, 1704, 2064, 2980, 3336, 3938, 4...","[-5.207036972045898, -5.8463592529296875, -9.0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,3,"[350, 1160, 1275, 1523, 1660, 1713, 1767, 1789...","[-5.147612571716309, -6.763217449188232, -10.2...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,4,"[143, 715, 2356, 3829, 3941, 5037, 5341, 5764,...","[-4.711159706115723, -8.35203742980957, -3.608...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,5,"[227, 546, 1087, 1712, 1925, 2108, 2371, 2390,...","[-6.6331634521484375, -3.4871554374694824, -9....","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
5,7,"[62, 133, 361, 446, 721, 823, 1065, 1410, 1874...","[-10.048223495483398, -10.793760299682617, -10...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
6,11,"[321, 801, 1122, 1430, 1712, 1753, 2293, 2484,...","[-4.5121870040893555, -7.635186195373535, -3.3...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
7,12,"[134, 1224, 1868, 2371, 3475, 3511, 3987, 4306...","[-0.05653083324432373, -9.201903343200684, -10...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, ..."
8,13,"[372, 1101, 1564, 1787, 2144, 2343, 2512, 3167...","[-5.852274417877197, -6.481305122375488, -2.77...","[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, ..."
9,14,"[77, 363, 446, 813, 1065, 1308, 1704, 2474, 25...","[-10.166321754455566, -10.619680404663086, -11...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ..."
10,15,"[297, 361, 1136, 1354, 2195, 2431, 2695, 2783,...","[-2.979177951812744, -7.336699485778809, -2.43...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
11,17,"[193, 681, 1065, 1153, 1669, 1696, 1947, 3268,...","[-6.75016975402832, -8.069784164428711, -9.487...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
12,18,"[1642, 1704, 1855, 2032, 2083, 2435, 2582, 308...","[-10.612081527709961, -11.193122863769531, -10...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
13,19,"[48, 1704, 2699, 3338, 3825, 4019, 5084, 5296,...","[-4.840378761291504, -10.455278396606445, -9.1...","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, ..."
14,20,"[11, 134, 227, 711, 852, 2343, 2850, 3494, 427...","[-5.472648620605469, -1.9247580766677856, -8.5...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
15,21,"[100, 757, 845, 915, 1127, 1354, 1791, 1848, 2...","[-8.446075439453125, -10.08823299407959, -7.70...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
16,22,"[193, 471, 731, 877, 2032, 4040, 4101, 4355, 4...","[-6.527957916259766, -9.565258026123047, -8.18...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, ..."
17,23,"[407, 902, 1048, 1065, 1149, 1704, 2220, 2431,...","[-9.247861862182617, -10.243789672851562, -8.6...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
18,24,"[101, 471, 2312, 2582, 2641, 3014, 3792, 4031,...","[-6.678981304168701, -10.92535400390625, -9.69...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
19,25,"[278, 860, 1065, 1768, 2083, 2111, 2217, 2582,...","[-10.309581756591797, -9.05489730834961, -10.7...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

    Query ID       MAP   nDCG@10  P@5  P@10
0          1  0.216178  0.442220  0.4   0.4
1          2  0.096531  0.138862  0.2   0.1
2          3  0.145468  0.334051  0.6   0.3
3          4  0.042441  0.000000  0.0   0.0
4          5  0.328369  0.466277  0.6   0.4
5          7  0.566189  0.650513  0.6   0.6
6         11  0.093907  0.110046  0.2   0.1
7         12  0.337840  0.478902  0.6   0.4
8         13  0.222395  0.428385  0.4   0.3
9         14  0.077438  0.000000  0.0   0.0
10        15  0.053626  0.069431  0.0   0.1
11        17  0.212354  0.315163  0.4   0.3
12        18  0.519104  0.691915  0.6   0.5
13        19  0.090872  0.078398  0.0   0.1
14        20  0.059458  0.000000  0.0   0.0
15        21  0.088201  0.000000  0.0   0.0
16        22  0.201010  0.302404  0.4   0.3
17        23  0.536707  0.855348  1.0   0.8
18        24  0.190110  0.158507  0.2   0.2
19        25  0.844226  0.914857  0.8   0.9

Mean MAP      : 0.2461
Mean nDCG@10  : 0.3218
Mean P@5      : 0.35
Mean P@10     : 0.29

In [16]:
# --------- 2. Bi-Encoder ---------
bi_encoder = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')
query_embs = bi_encoder.encode(queries, convert_to_tensor=True)
body_embs = bi_encoder.encode(bodies, convert_to_tensor=True)
bi_scores = util.cos_sim(query_embs, body_embs).diagonal().cpu().numpy()
bi_preds = [1 if score > 0.5 else 0 for score in bi_scores]
bi_acc = accuracy_score(labels, bi_preds)
bi_f1 = f1_score(labels, bi_preds)

# Group the necessary data by 'QueryID'
df["BiScores"] = bi_scores
grouped = df.groupby("QueryID").agg({
    "DocumentID": list,
    "BiScores": list,
    "Relevance": list
}).reset_index()

# Construct the data dictionary
data = {
    "query_id": grouped["QueryID"].tolist(),
    "doc_id": grouped["DocumentID"].tolist(),
    "score": grouped["BiScores"].tolist(),
    "relevance": grouped["Relevance"].tolist()
}

# Optional: Convert to DataFrame if needed
grouped_df = pd.DataFrame(data)

# Display the resulting grouped DataFrame
from IPython.display import display
display(grouped_df)


# Obtaining MAP scores and others
import numpy as np
import pandas as pd
from sklearn.metrics import average_precision_score
from IPython.display import display

# Assuming grouped_df is already defined with columns: query_id, doc_id, score, relevance

map_scores = []
ndcg_scores = []
p_at_5 = []
p_at_10 = []

def dcg_at_k(relevances, k):
    relevances = np.asarray(relevances, dtype=float)[:k]
    if relevances.size:
        return np.sum(relevances / np.log2(np.arange(2, relevances.size + 2)))
    return 0.0

def ndcg_at_k(y_true, y_score, k):
    order = np.argsort(y_score)[::-1]
    y_true_sorted = np.take(y_true, order)
    dcg_max = dcg_at_k(sorted(y_true, reverse=True), k)
    if not dcg_max:
        return 0.0
    return dcg_at_k(y_true_sorted, k) / dcg_max

for i, row in grouped_df.iterrows():
    y_true = row['relevance']
    y_scores = row['score']

    # MAP
    ap = average_precision_score(y_true, y_scores)
    map_scores.append(ap)

    # nDCG@10
    ndcg = ndcg_at_k(y_true, y_scores, k=10)
    ndcg_scores.append(ndcg)

    # Precision@5
    order = np.argsort(y_scores)[::-1]
    top5_relevance = np.take(y_true, order)[:5]
    p5 = np.sum(top5_relevance) / 5.0
    p_at_5.append(p5)

    # Precision@10
    top10_relevance = np.take(y_true, order)[:10]
    p10 = np.sum(top10_relevance) / 10.0
    p_at_10.append(p10)

# Aggregate results per query
results = pd.DataFrame({
    "Query ID": grouped_df['query_id'],
    "MAP": map_scores,
    "nDCG@10": ndcg_scores,
    "P@5": p_at_5,
    "P@10": p_at_10
})

display(results)

# Print average (mean) of each metric across all queries
print("Mean MAP      :", round(np.mean(map_scores), 4))
print("Mean nDCG@10  :", round(np.mean(ndcg_scores), 4))
print("Mean P@5      :", round(np.mean(p_at_5), 4))
print("Mean P@10     :", round(np.mean(p_at_10), 4))

,query_id,doc_id,score,relevance
0,1,"[4, 11, 339, 1378, 1861, 2034, 2371, 2379, 262...","[0.13010098040103912, 0.386648952960968, 0.426...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1,2,"[54, 538, 606, 1704, 2064, 2980, 3336, 3938, 4...","[0.636265218257904, 0.5802971124649048, 0.3900...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,3,"[350, 1160, 1275, 1523, 1660, 1713, 1767, 1789...","[0.5482257604598999, 0.6178483963012695, 0.477...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,4,"[143, 715, 2356, 3829, 3941, 5037, 5341, 5764,...","[0.4568575620651245, 0.2575801610946655, 0.517...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,5,"[227, 546, 1087, 1712, 1925, 2108, 2371, 2390,...","[0.4807475805282593, 0.5329251289367676, 0.468...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
5,7,"[62, 133, 361, 446, 721, 823, 1065, 1410, 1874...","[0.1140979528427124, 0.08277460932731628, 0.18...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
6,11,"[321, 801, 1122, 1430, 1712, 1753, 2293, 2484,...","[0.517747163772583, 0.5531913042068481, 0.4371...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
7,12,"[134, 1224, 1868, 2371, 3475, 3511, 3987, 4306...","[0.4933459758758545, 0.4012191891670227, 0.327...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, ..."
8,13,"[372, 1101, 1564, 1787, 2144, 2343, 2512, 3167...","[0.36009812355041504, 0.3587648868560791, 0.40...","[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, ..."
9,14,"[77, 363, 446, 813, 1065, 1308, 1704, 2474, 25...","[0.07601582258939743, 0.27261608839035034, 0.2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ..."
10,15,"[297, 361, 1136, 1354, 2195, 2431, 2695, 2783,...","[0.5018202066421509, 0.4286414384841919, 0.469...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
11,17,"[193, 681, 1065, 1153, 1669, 1696, 1947, 3268,...","[0.5293363928794861, 0.22458386421203613, 0.03...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
12,18,"[1642, 1704, 1855, 2032, 2083, 2435, 2582, 308...","[0.2841142416000366, 0.14690707623958588, -0.0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
13,19,"[48, 1704, 2699, 3338, 3825, 4019, 5084, 5296,...","[0.5670589804649353, 0.054855119436979294, 0.4...","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, ..."
14,20,"[11, 134, 227, 711, 852, 2343, 2850, 3494, 427...","[0.4728805422782898, 0.4080200791358948, 0.484...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
15,21,"[100, 757, 845, 915, 1127, 1354, 1791, 1848, 2...","[0.5434439778327942, 0.26949959993362427, 0.49...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
16,22,"[193, 471, 731, 877, 2032, 4040, 4101, 4355, 4...","[0.4376647472381592, 0.008379392325878143, 0.2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, ..."
17,23,"[407, 902, 1048, 1065, 1149, 1704, 2220, 2431,...","[0.3869859576225281, 0.326965868473053, 0.3321...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
18,24,"[101, 471, 2312, 2582, 2641, 3014, 3792, 4031,...","[0.2042342573404312, 0.06517462432384491, 0.37...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
19,25,"[278, 860, 1065, 1768, 2083, 2111, 2217, 2582,...","[0.32300394773483276, 0.39601194858551025, -0....","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

    Query ID       MAP   nDCG@10  P@5  P@10
0          1  0.319322  0.639944  0.8   0.6
1          2  0.110518  0.220092  0.2   0.1
2          3  0.269858  0.579500  0.8   0.5
3          4  0.346618  0.493679  0.6   0.4
4          5  0.425064  0.476071  0.6   0.5
5          7  0.461874  0.533075  0.6   0.5
6         11  0.403354  0.416567  0.2   0.5
7         12  0.087241  0.073364  0.0   0.1
8         13  0.480489  0.790951  1.0   0.7
9         14  0.662338  0.671938  0.8   0.6
10        15  0.198316  0.293456  0.2   0.2
11        17  0.158535  0.293437  0.4   0.3
12        18  0.317732  0.361879  0.4   0.2
13        19  0.509092  0.633975  0.6   0.6
14        20  0.124069  0.176300  0.2   0.2
15        21  0.194002  0.357058  0.4   0.4
16        22  0.384578  0.453743  0.6   0.3
17        23  0.446588  0.576688  0.6   0.5
18        24  0.501532  0.645755  0.8   0.6
19        25  0.627734  0.863015  1.0   0.8

Mean MAP      : 0.3514
Mean nDCG@10  : 0.4775
Mean P@5      : 0.54
Mean P@10     : 0.43

In [10]:
from sklearn.metrics import accuracy_score, f1_score
from transformers import pipeline
from sentence_transformers import SentenceTransformer, CrossEncoder, util
import torch

# --------- 3. T5 Prompt-Based ---------
# Initialize the T5 pipeline
t5_pipe = pipeline("text2text-generation", model="t5-base", tokenizer="t5-base", device=0 if torch.cuda.is_available() else -1)
# Create input prompts
t5_inputs = [f'Is the query "{q}" relevant to the passage: "{b}"? Answer yes or no' for q, b in zip(queries, bodies)]
# Run T5 model to get outputs
t5_outputs = t5_pipe(t5_inputs, max_length=10, truncation=True)
# Score mapping and prediction
score_mapping = {"yes": 1.0, "no": 0.0, "somewhat": 0.5}
t5_preds = []
for out in t5_outputs:
    response = out['generated_text'].strip().lower()
    score = score_mapping.get(response, 0.0)  # default to 0.0 if unexpected output
    prediction = 1 if (score == 1.0 or score > 0.5) else 0
    t5_preds.append(prediction)

# Group the necessary data by 'QueryID'
df["T5Scores"] = score
grouped = df.groupby("QueryID").agg({
    "DocumentID": list,
    "T5Scores": list,
    "Relevance": list
}).reset_index()

# Construct the data dictionary
data = {
    "query_id": grouped["QueryID"].tolist(),
    "doc_id": grouped["DocumentID"].tolist(),
    "score": grouped["T5Scores"].tolist(),
    "relevance": grouped["Relevance"].tolist()
}

# Optional: Convert to DataFrame if needed
grouped_df = pd.DataFrame(data)

# Display the resulting grouped DataFrame
from IPython.display import display
display(grouped_df)


# Obtaining MAP scores and others
import numpy as np
import pandas as pd
from sklearn.metrics import average_precision_score
from IPython.display import display

# Assuming grouped_df is already defined with columns: query_id, doc_id, score, relevance

map_scores = []
ndcg_scores = []
p_at_5 = []
p_at_10 = []

def dcg_at_k(relevances, k):
    relevances = np.asarray(relevances, dtype=float)[:k]
    if relevances.size:
        return np.sum(relevances / np.log2(np.arange(2, relevances.size + 2)))
    return 0.0

def ndcg_at_k(y_true, y_score, k):
    order = np.argsort(y_score)[::-1]
    y_true_sorted = np.take(y_true, order)
    dcg_max = dcg_at_k(sorted(y_true, reverse=True), k)
    if not dcg_max:
        return 0.0
    return dcg_at_k(y_true_sorted, k) / dcg_max

for i, row in grouped_df.iterrows():
    y_true = row['relevance']
    y_scores = row['score']

    # MAP
    ap = average_precision_score(y_true, y_scores)
    map_scores.append(ap)

    # nDCG@10
    ndcg = ndcg_at_k(y_true, y_scores, k=10)
    ndcg_scores.append(ndcg)

    # Precision@5
    order = np.argsort(y_scores)[::-1]
    top5_relevance = np.take(y_true, order)[:5]
    p5 = np.sum(top5_relevance) / 5.0
    p_at_5.append(p5)

    # Precision@10
    top10_relevance = np.take(y_true, order)[:10]
    p10 = np.sum(top10_relevance) / 10.0
    p_at_10.append(p10)

# Aggregate results per query
results = pd.DataFrame({
    "Query ID": grouped_df['query_id'],
    "MAP": map_scores,
    "nDCG@10": ndcg_scores,
    "P@5": p_at_5,
    "P@10": p_at_10
})

display(results)

# Print average (mean) of each metric across all queries
print("Mean MAP      :", round(np.mean(map_scores), 4))
print("Mean nDCG@10  :", round(np.mean(ndcg_scores), 4))
print("Mean P@5      :", round(np.mean(p_at_5), 4))
print("Mean P@10     :", round(np.mean(p_at_10), 4))

Device set to use cpu
Asking to truncate to max_length but no maximum length is provided and the model has no predefined maximum length. Default to no truncation.
Both `max_new_tokens` (=256) and `max_length`(=10) seem to have been set. `max_new_tokens` will take precedence. Please refer to the documentation for more information. (https://huggingface.co/docs/transformers/main/en/main_classes/text_generation)
Both `max_new_tokens` (=256) and `max_length`(=10) seem to have been set. `max_new_tokens` will take precedence. Please refer to the documentation for more information. (https://huggingface.co/docs/transformers/main/en/main_classes/text_generation)
Both `max_new_tokens` (=256) and `max_length`(=10) seem to have been set. `max_new_tokens` will take precedence. Please refer to the documentation for more information. (https://huggingface.co/docs/transformers/main/en/main_classes/text_generation)
Both `max_new_tokens` (=256) and `max_length`(=10) seem to have been set. `max_new_tokens` will take precedence. Please refer to the documentation for more information. (https://huggingface.co/docs/transformers/main/en/main_classes/text_generation)
Both `max_new_tokens` (=256) and `max_length`(=10) seem to have been set. `max_new_tokens` will take precedence. Please refer to the documentation for more information. (https://huggingface.co/docs/transformers/main/en/main_classes/text_generation)

,query_id,doc_id,score,relevance
0,1,"[4, 11, 339, 1378, 1861]","[0.0, 0.0, 0.0, 0.0, 0.0]","[0, 0, 0, 0, 1]"

   Query ID  MAP  nDCG@10  P@5  P@10
0         1  0.2      1.0  0.2   0.1

Mean MAP      : 0.2
Mean nDCG@10  : 1.0
Mean P@5      : 0.2
Mean P@10     : 0.1